.zoom-modal{
    max-width: none;
}

.remodal-close {
    right: 0px;
    z-index: 9999;
    left: inherit!important;
    top: 0px;
    background: beige;
}

.box-footer{
    text-align: right;
}

.box-footer button{
    margin: 0 5px;
}