
.timeline-post{
    max-width:650px;
    margin: 0 auto 50px auto;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(230,230,230,1);
    -moz-box-shadow: 0px 1px 10px 1px rgba(230,230,230,1);
    box-shadow: 0px 1px 10px 1px rgba(230,230,230,1);
}
.post-header{
    padding: 10px;
}
.post-container{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
.poster{
    text-align: left;
    display: table;
    font-weight: bold;
}
.published-text, .post-date{
    text-align: left;
    font-size: 10px;
}
.poster-pp{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.poster-pp img {
    border-radius: 50px;
}
.category-text{
    font-weight: bold;
}
.post-footer{
    padding: 10px;
}
.ajax-load{
    background: transparent;
    padding: 10px 0px;
    width: 100%;
}
.team-item-image {
    margin: 0 5px;
}
.post-description{
    margin-top:10px;
}
.post-title{
    font-weight: bold;
}