a.button-rounded{
    border: 1px solid #ccc;
    margin: 2px;
    border-radius: 15px;
    padding: 5px 15px 5px 17px;
    text-decoration: none;
    cursor: pointer;
}
.blue-sky-bg{
    background-color: #0099e5;
    color: #ffffff;
    font-weight: bold;
    border:none!important;
}
.blue-sky-bg:hover{
    background-color: #1fb5ff;
    color: #ffffff;
}
.modal-fs{max-width: none!important;}
.border-right{border-right:1px solid #cccccc;}
.comment-photo img{padding:5px;max-height: 579px;}
.comment-block{margin-top:10px;}
.comment-photo-detail, .comment-block{margin-right: 0;}
.comment-block .pp{padding: 0px;height: 35px;overflow: hidden;}
.comment-block .pp img{height:30px;width: auto; border-radius:30px;}
.comment-user-block{margin: 10px 0 0 0; padding-left: 0;}
.comment-user-block .pp{height: 50px;width: 50px;overflow: hidden; float: left;}
.comment-user-block .pp img{border-radius: 25px;}
.comment-input{padding-left:0px;text-align: left;font-size:12px}
.comment-profile-name, .following-status{text-align: left;margin-left: 60px;font-weight: bold;}
.comment-buttons{margin-top: 40px;text-align: left;margin-bottom: 10px;}
.comments{width: 100%;padding: 2px;float: left;}
.remodal-close {right: 0;z-index: 9999;left:inherit!important;}
.dynamicComment{max-height: 400px;overflow-y: scroll;padding:0;}
.comment-text:hover .del-comment{font-weight: bold; display: block!important;}
.input-comment-bg{
    background: url('../images/chat-bubble.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.post-title{
    font-weight: bold;
}