.profile-header {
    border-bottom: 1px solid #eeeff2;
}

.profile-header .nav-tabs {
    border-bottom: 0px;
}

.profile-header .nav-tabs>li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 0px 15px;
    margin: 0 10px;
    font-size: 15px;
    border: none;
}

.profile-header .nav-tabs>li:first-child a {
    margin-left: 0px;
}

.profile-header .nav-tabs>li.active>a, 
.profile-header .nav-tabs>li.active>a:hover, 
.profile-header .nav-tabs>li.active>a:focus{
    text-decoration: none;
    border: none;
    border-bottom: 3px solid #0099e5 !important;
}

.profile-header .nav-tabs>li>a:hover {
    border: none;
    color: #0099e5;
    background: none;
}

.profile-header .nav-tabs>li {
    float: none;
    display: inline-block;
}

.profile-header .profile-tabs {
    border-top: 1px solid #eeeff2;
}

.profile-header .details {
    padding: 0px;
}

.profile-header .details li {
    display: inline-block;
    color: #b9c1c7;
    margin: 0 10px;
    line-height: 1.4em;
}

.profile-header .details li span {
    font-weight: bold;
}

.profile-header .profile-avatar {
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 104px;
    height: 104px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.profile-header h1 {
    line-height: 30px;
    font-size: 30px;
}

.profile-header .profile-button {
    background: #ffffff;
    position: absolute;
    right: 50px;
    top: 0px;
}

.profile-social {
    color: #bfbfbf;
}

.profile-social ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

.profile-social ul li {
    float: left;
    margin:0 10px;
}

.user-profile{
    /* border: 1px solid #dddddd; */
    padding-top: 15px;
    background: #ffffff;
}

.profile-name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom:15px;
}

.profile-grid {

}

.profile-grid .work-item {
    height: 325px;
}

.profile-grid .work-img {
    height: 315px;
}

.profile-grid .work-item img {
    height: inherit;
    width: auto;
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width: none;
}