.profile-social{
    color: #bfbfbf;
}
.profile-social ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
}
.profile-social ul li {
    float: left;
    margin:0 10px;
}
.user-profile{
    /* border: 1px solid #dddddd; */
    padding-top: 15px;
    background: #ffffff;
}
.profile-name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom:15px;
}
/** override bootstrap tab **/
#profile .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.profile-button{
    background: #ffffff;
    padding: 10px;
}
#profile .nav-tabs, .nav-pills {
    text-align:center;
}
#profile .nav-tabs>li a{
    font-weight: bold;
    text-decoration: none;
}
#profile .nav-tabs>li.active>a,
#profile .nav-tabs>li.active>a:hover,
#profile .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #ffffff;
    color: blue;
    border: none;
    border-bottom: 2px solid blue;
    /* border-bottom-color: transparent; */
    cursor: default;
}
#profile .nav-tabs>li>a:hover {
    border: none;
    background: #ffffff;
}

#profile .nav-tabs, .nav-pills {
    text-align: center;
    background: #ffffff;
}
.location-icon{
    background-image: url(../images/location-marker.svg);
    background-repeat: no-repeat;
    background-position: left 1px;
    background-size: 11px 16px;
    padding-left: 16px;
    text-transform: capitalize;
}
#modalEditProfile{
    background-color: #f7f8fa;
}
#modalEditProfile label{
    float: left;
    font-weight: 500;
    color: #16b4ff;
}
.profile-picture img{
    border-radius: 50px;
}
.profile-picture{
    width: 120px;
    height: auto;
    border: 1px solid #efefef;
    border-radius: 60px;
    margin: 15px auto;
}
.pp-image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 60px;
    overflow: hidden;
}
.pp-image img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.pp-container{
    background-color: #ffffff;
}

.edit-pp-container label {
    cursor: pointer;
    float:none!important;
}
 
.edit-pp-container #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#pp-preview {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    background: url(../images/pp-icon.png);
    color: #ecf0f1;
    background-size: contain;
    border-radius: 60px;
    margin: 15px auto;
}
#pp-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}
#pp-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    width: 120px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
}

.media-list{
    height: 400px;
    max-width: 440px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
}
.works-grid.hide-titles .work-item > a {
    margin: 0 auto;
}
.works-grid.work-grid-gut .work-item {
    padding: 0px!important;
}
.work-title{
    font-weight: bold;
}
.works-grid.hover-white .work-item:hover .work-img:after {
    background: rgba(250,250,250, .7);
}