.profile-social{
    color: #bfbfbf;
}
.profile-social ul {
    display: inline-block;
    list-style: none;
}
.profile-social ul li {
    float: left;
    margin:0 10px;
}
.user-profile{
    border: 1px solid #dddddd;
    padding-top: 15px;
    background: #ffffff;
}
.profile-name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom:15px;
}
/** override bootstrap tab **/
#profile .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.profile-button{
    background: #ffffff;
    padding: 10px;
}
#profile .nav-tabs, .nav-pills {
    text-align:center;
}
#profile .nav-tabs>li a{
    font-weight: bold;
    text-decoration: none;
}
#profile .nav-tabs>li.active>a,
#profile .nav-tabs>li.active>a:hover,
#profile .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #ffffff;
    color: blue;
    border: none;
    border-bottom: 2px solid blue;
    /* border-bottom-color: transparent; */
    cursor: default;
}
#profile .nav-tabs>li>a:hover {
    border: none;
    background: #ffffff;
}

#profile .nav-tabs, .nav-pills {
    text-align: center;
    background: #ffffff;
}
.location-icon{
    background-image: url(../images/location-marker.svg);
    background-repeat: no-repeat;
    background-position: left 1px;
    background-size: 11px 16px;
    padding-left: 16px;
    text-transform: capitalize;
}
#modalEditProfile{
    background-color: #f7f8fa;
}
#modalEditProfile label{
    float: left;
    font-weight: 500;
    color: #16b4ff;
}
.profile-picture img{
    border-radius: 50px;
}
.profile-picture{
    width: 100px;
    height: auto;
    border: 1px solid #efefef;
    border-radius: 50px;
    margin: 15px auto;
}