.form input[type="text"], .form input[type="email"], .form input[type="number"], .form input[type="url"], .form input[type="search"], .form input[type="tel"], .form input[type="password"], .form input[type="date"], .form input[type="color"], .form select {
	text-transform: none;
}

.main-nav.transparent ul li a {
	color: #fff;
}

.inner-nav {
	float: left;
}

.login-nav {
	float: right;
}

.remodal {
	padding: 0px !important;
}

a.nav-signup {
	background: #EB1E2D;
    padding: 0 20px;
    margin: 23px 0;
    border-radius: 20px;
    height: 30px !important;
    line-height: 30px !important;
}

.inner-nav ul li a.nav-signup {
	color: #fff;
}

.small-height .inner-nav ul li a.nav-signup {
	height: 30px !important;
    line-height: 30px !important;
    margin: 13px 0;
    color: #fff;
}

.landing-text-1 {
	font-size: 30px;
}

body.timeline {
	background: #F7F8FA;
}

.timeline .post-item {
	background: #fff;
	min-height: 300px;
	border-radius: 3px;
	border: 1px solid #eeeff2;
}

a.nav-upload {
	color: #fff !important;
	letter-spacing: 0px !important;
	background: #3DBC54;
	padding: 0 20px 0 23px;
	text-transform: none;
	font-size: 15px;
}

a.nav-upload .fa {
	font-size: 30px;
	position: relative;
    top: 5px;
    right: 5px;
}

a.nav-notification .fa {
	font-size: 20px;
	position: relative;
	top: 2px;
	font-weight: bold;
}

a.nav-notification:hover .fa {
	color: #0095EB;
}

.upload-modal {
	width: 95vw !important;
    height: 90vh;
    max-width: none !important;
    border-radius: 3px;
}

.upload-modal .dropzone {
	height: 100%;
	cursor: crosshair;
	background: #F7F8FA;
	overflow-y: scroll;
}

.dz-message {
	top: 45%;
    position: relative;
}

.dz-message .btn {
	width: 180px;
    height: 40px;
    text-align: center;
    font-size: 16px;.
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline: none;
    background-color: #0099e5;
    border: 1px solid #0099e5;
    margin-bottom: 20px;
}

.dz-message .btn:hover {
	background-color: #00aaff;
}

.dz-message p {
	color: #0099e5;
}

.dz-preview {
	cursor: default;
}

.nav-avatar img {
	width: 40px;
    height: 40px;
    border-radius: 20px;
}

.dropzone .dz-preview {
	float: left;
	width: 170px !important;
	height: 198px;
	box-sizing: content-box;
	margin: 0 15px 20px !important;
	border-bottom: 2px solid #b9c1c7;
}

.dropzone .dz-image {
	width: 170px;
	height: 110px;
}

.dropzone .dz-image img {
	width: 100%;
	height: 100%;
}

.dz-addmore {
	width: 200px;
    height: 200px;
    border: 2px solid #b9c1c7;
    color: #b9c1c7;
    float: left;
    display: none;
    font-weight: bold;
    cursor: pointer;
}

.dz-addmore .add-more-icon {
	font-size: 30px;
    margin-top: 60px;
}

.dz-details {
	display: none;
}

.dz-success-mark {
	display: none;
}

.dz-active {
	background: #aaa;
}

.dropzone .dz-preview .dz-progress .dz-upload {
	background: #41CB56 !important;
}

.dz-success-mark {
	display: none !important;
}

.form-uploader-wrapper {
	height: 100%;
	display: none;
	border-radius: 3px;
}

.form-uploader-wrapper .row {
	height: inherit;
}

.form-uploader {
	overflow-y: scroll;
	height: inherit;
}

.form-uploader label {
	color: #0099e5;
	font-weight: normal;
}

.form-uploader input, .form-uploader textarea {
	text-transform: none !important;
}

.form-blocker {
	position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
    z-index: 2;
    top: 0;
}

.bootstrap-tagsinput {
	width: 100%;
}

.btn-uploader-submit {
	width: 100%;
	background-color: #34bf49;
    border-color: #34bf49;
    cursor: pointer;
    display: inline-block;
    padding: 10px 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.btn-uploader-submit:hover {
	color: #fff;
	background: #41CB56;
}

.publish-section {
	border-bottom: 1px solid #ddd;
}

.publish-section p {
	font-size: 12px;
}

.upload-publish {
	height: 100%;
	display: none;
}

.upload-publish img {
	width: 100px;
}

.upload-publish h5 {
	font-size: 23px;
	margin-top: 35vh;
	margin-bottom: 10px;
}

.bg-white {
	background: #fff;
}

.discover-tablist {
	border-bottom: 1px solid #eeeff2;
}

.discover-tablist .nav-tabs {
	border-bottom: 0px;
}

.discover-tablist .nav-tabs>li>a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
    padding: 0px 0px 15px;
    margin: 0 10px;
    font-size: 15px;
    border: none;
}

.discover-tablist .nav-tabs>li:first-child a {
	margin-left: 0px;
}

.discover-tablist .nav-tabs>li.active>a, 
.discover-tablist .nav-tabs>li.active>a:hover, 
.discover-tablist .nav-tabs>li.active>a:focus{
	text-decoration: none;
	border: none;
    border-bottom: 3px solid #0099e5 !important;
}

.discover-tablist .nav-tabs>li>a:hover {
	border: none;
	color: #0099e5;
	background: none;
}

.footer {
	background: url(../../images/bg-footer.jpg) no-repeat center bottom;
	padding-bottom: 300px;
	padding-top: 50px;
}

.footer-sponsor {
	margin-top: 30px;
}

.footer-sponsor p {
	text-transform: uppercase;
	font-weight: bold;
}

.footer-sponsor img {
	width: 200px;
}