.main-nav.transparent ul li a {
	color: #fff;
}

.inner-nav {
	float: left;
}

.login-nav {
	float: right;
}

a.nav-signup {
	background: #EB1E2D;
    padding: 0 20px;
    margin: 23px 0;
    border-radius: 20px;
    height: 30px !important;
    line-height: 30px !important;
}

.inner-nav ul li a.nav-signup {
	color: #fff;
}

.small-height .inner-nav ul li a.nav-signup {
	height: 30px !important;
    line-height: 30px !important;
    margin: 13px 0;
    color: #fff;
}

.landing-text-1 {
	font-size: 30px;
}

body.timeline {
	background: #F7F8FA;
}

.timeline .post-item {
	background: #fff;
	min-height: 300px;
	border-radius: 3px;
	border: 1px solid #eeeff2;
}

a.nav-upload {
	color: #fff !important;
	letter-spacing: 0px !important;
	background: #3DBC54;
	padding: 0 20px 0 23px;
	text-transform: none;
	font-size: 15px;
}

a.nav-upload .fa {
	font-size: 30px;
	position: relative;
    top: 5px;
    right: 5px;
}

a.nav-notification .fa {
	font-size: 20px;
	position: relative;
	top: 2px;
	font-weight: bold;
}

a.nav-notification:hover .fa {
	color: #0095EB;
}

.nav-avatar img {
	width: 40px;
    height: 40px;
    border-radius: 20px;
}

.footer {
	background: url(../../images/bg-footer.jpg) no-repeat center bottom;
	padding-bottom: 300px;
	padding-top: 50px;
}

.footer-sponsor {
	margin-top: 30px;
}

.footer-sponsor p {
	text-transform: uppercase;
	font-weight: bold;
}

.footer-sponsor img {
	width: 200px;
}